@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h1>Dashborad Attendance</h1>

<div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
    <div style="text-align: center;">
        <a href="@Url.Action("GetAllTracks", "Security")" class="btn btn-primary btn-lg" style="margin-right: 20px;"> Students Attendance </a>
        <a href="@Url.Action("AllInstructors", "Security")" class="btn btn-success btn-lg"> Instructors Attendance</a>
    </div>
</div>
