@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.WideView = "Wide";
}

@section Styles {
    <link rel="shortcut icon" href="/imgs/itilogo.png" type="image/x-icon">
    <style>
        #mainContainer {
            background-color: #fcfcfc;
            margin-top: 70px;
            min-height: 80vh;
        }
    </style>
}

<div class="main-inside container-fluid d-flex flex-column" id="mainContainer">
    <!-- Left Sidebar Start -->
    <div class="row flex-grow-1 mt-3 mb-3 justify-content-evenly">
        <div style="background-color: darkred;" class="col-2 rounded-4 d-flex flex-column" id="leftSidebar">
            <div class="row mt-4 mb-4">
                <div class="container-fluid col-8 p-2 bg-light  rounded-5" id="leftSidebarPicture">
                    <img src="/imgs/itilogo.png" class="col-12">
                </div>
            </div>
            <div class="row h-100 ps-2">
                <div class="col d-flex flex-column">
                    <div class="row mt-4 mb-2">
                        <div class="container-fluid col" id="leftSidebarLinks">
                            <i class="fa-solid fa-chalkboard-user fs-5 m-2" style="color: #ffffff;"></i>
                            <a href="Index" class="text-white text-decoration-none fw-bold fs-5">Profile</a>
                        </div>
                    </div>
                    <div class="row mt-2 mb-2">
                        <div class="container-fluid col" id="leftSidebarLinks">
                            <i class=" fa-solid fa-book fs-5 m-2" style="color: #ffffff;"></i>
                            <a asp-action="AllStudents" asp-controller="StudentAffairs" class="text-white text-decoration-none fw-bold fs-5"> Students</a>
                        </div>
                    </div>
                    <div class="row mt-2 mb-2">
                        <div class="container-fluid col" id="leftSidebarLinks">
                            <i class="fa-solid fa-list-check fs-5 m-2" style="color: #ffffff;"></i>
                            <a asp-action="TakeAttendance" asp-controller="StudentAffairs" class="text-white text-decoration-none fw-bold fs-5"> Take Attendance</a>
                        </div>
                    </div>
                    <div class="row mt-2 mb-2">
                        <div class="container-fluid col" id="leftSidebarLinks">
                            <i class="fa-solid fa-list-check fs-5 m-2" style="color: #ffffff;"></i>
                            <a asp-action="AllAttendance" asp-controller="StudentAffairs" class="text-white text-decoration-none fw-bold fs-5"> View Attendances</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Right Main Container Start -->
        <div class="col-9 d-flex flex-column">
            <div class="row h-25 rounded-4 p-3 ps-5" style="background-color: darkred;" id="leftSidebar">
                <div class="col-9 d-flex flex-column justify-content-evenly h-100">
                    <p class="text-white fs-5" id="dateTime">Current Date and time</p>
                    <div class="container">
                        <p class="text-white fs-2 fw-bold m-0">Welcome back,Student Affairs</p>
                        <p class="text-white fs-6">Always stay updated in your Affairs portal</p>
                    </div>
                </div>
                <div class="col-3 h-100 d-flex justify-content-end">
                    <img src="~/imgs/teach.svg" class="w-75">
                </div>
            </div>
            <div style="background-color: rgba(0, 0, 0, 0.08);" class="row flex-grow-1 mt-4 rounded-4 p-4 align-content-start"
                 id="mainContent">
                @RenderBody()
            </div>
        </div>
        <!-- Right Main Container End -->
    </div>
</div>

@section Scripts {
    <script>
        function updateDateTime() {
            let date = new Date();
            document.getElementById("dateTime").innerText = date.toLocaleString();
        }

        window.onload = function () {
            updateDateTime();

            setInterval(updateDateTime, 1000);
        }
    </script>
}
@RenderSection("AdminScripts", required: false)
