@{
    ViewData["Title"] = "All Students";
}

<div>
    <!-- Your view content goes here -->
</div>

@{
    var viewData = new ViewDataDictionary(ViewData)
    {
        Model = Model,
        ["PropertiesToShow"] = new List<string> { "Name", "Email", "University", "Faculty" }
    };
    await Html.RenderPartialAsync("~/Views/Shared/_DataTable.cshtml", Model, ViewData);

}