@{
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}

<link href="~/css/employeeindex.css" rel="stylesheet" />
@{
    var viewData = new ViewDataDictionary(ViewData)
            {
                Model = Model,
                ["PropertiesToShow"] = new List<string> { "Name", "Email", "Salary", "Mobile", "Role" }
            };
    await Html.RenderPartialAsync("~/Views/Shared/_DataTable.cshtml", Model, ViewData);

}

<div class="addEmployee">
    <a asp-action="create" asp-controller="employee">
        Add Employee <i class="fa-solid fa-plus"> </i>
    </a>
</div>

