@model ResetPasswordEmailViewModel
@{
    ViewBag.Title = "Reset Password - Email";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="title text-dark">
    Reset Password
</div>
<div class="subtitle text-dark">
    Confirm Email
</div>
<form asp-action="ResetPasswordEmail" method="post">
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="text-danger">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    }
    <div class="form-group mt-2">
        <input type="submit" value="Next" class="btn btn-login" />
    </div>
</form>
